@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap");

.App {
  text-align: center;
  font-family: "Work Sans", sans-serif;
  min-height: 100vh;
}

.Notes {
  font-size: 1.2em;
}

.BoxContainer {
  display: flex;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.Box {
  border: solid 1px silver;
  width: 300px;
  height: 300px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.App-body {
  background-color: #fff;
  text-align: left;
  color: #000;
  padding-bottom: 100px;
  min-height: calc(100vh - 170px);
}

.App-content {
  padding-left: 25px;
  padding-right: 25px;
}

.App-link {
  color: #61dafb;
}

.Footer {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 50px;
  display: flex;
  background-color: #d0cde1;
}

.Footer div {
  flex-grow: 1;
}

.LogoBanner img {
  margin-right: 20px;
  margin-left: 20px;
}

.LogoBanner {
  height: 200px;
  border-top: 5px solid;
  border-color: #d0cde1;
}

button {
  display: block;
  margin-top: 20px;
}

h1 {
  color: #3f3d56;
}
